@media (max-width: 1440px) {
    .header {
        padding: 30px 20px;
    }

    .logo1000 {
        display: inline-block;
    }

    .logo {
        display: none;
    }

    .header__title {
        margin-left: 8px;
        font-size: 30px;
    }

    .header__logo {
        max-width: 160px;
    }

    .header__description {
        font-size: 13px;
    }

    .menu__items .menu__item a {
        font-size: 16px;
    }

    /* ----projects-------- */

    .projects {
        padding: 0 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 55px;
    }

    .projects__cards {
        padding: 0 10px;
    }

    .projects__header h2 {
        font-size: 26px;
    }

    .projects__header a {
        font-size: 14px;
    }

    /* ---about---- */

    .about {
        padding-left: 20px;
        padding-right: 20px;

    }

    .about__btn button {
        display: none;
    } 

    /*---footer----*/

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 1200px) {
    .header {
        padding: 25px 20px;
    }

    .menu__items {
        width: 400px;
    }

    .header__icons img {
        width: 22px;
        height: 22px;
    } 

    .phone__number {
        font-size: 22px;
    }

    .phone__text {
        font-size: 15px;
    }

    .header__icons {
        width: 68px;
    }

}

@media (max-width: 1000px) {
    .logo1000 {
        display: none;
    }

    .logo768 {
        display: inline-block;
    }

    .header__title {
        margin-left: 7px;
        font-size: 25px;
    }

    .header__description {
        font-size: 11px;
    }

    .menu__items, .header__icons, .header__phone {
        display: none;
    }

    .new__block {
        display: flex;
        width: 227px;
        justify-content: space-between;
        align-items: center;
    }

    .new__block__phone {
        font-size: 20px;
        letter-spacing: 0.025em;
        color: #494949;
    } 
}

@media (max-width: 768px) {
    .new__block__phone {
        display: none;
    }

    .icon-phone {
        display: block;
    }

    .new__block {
        width: 80px;
    } 

    .header {
        padding: 15px 20px;
        border: 0;
    }
    

    /* ---servies----- */

    .servies {
        padding: 0 20px;
    }

    /*---footer----*/

    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }


}

@media (max-width: 1200px) {

    /* -----servies--------- */

    .nine, .ten {
        display: none;
    }

    .servies__card {
        width: 226px;
        margin: 7px;
    }

    .servies__card__links {
        width: 203px;
    }

    .servies__card__order-btn .buy {
        width: 116px;
    }

    .servies__card__order-btn .check {
        margin-left: 9px;
    }

    .servies h2 {
        font-size: 26px;
    }

    .servies {
        margin-top: 34px;
    }
    /*---footer----*/

    .footer__icons .visa {
        display: none;
    }

    .footer__icons {
        width: 67px;
    }

}

@media (max-width: 1000px) {

    /* ----servies----- */

    .servies__header a {
        display: none;
    }

    .servies h2 {
        font-size: 20px;
    }

    .four, .five, .six, .seven, .eight {
        display: none;
    }
    /* ----projects------- */

    .projects {
        padding: 0 20px;
    }

    .projects__card.center {
        width: 235px;
        padding: 26px 37px 44px 30px;
    }

    .projects__card.center h2 {
        font-size: 16px;
    }

    .projects__card.center .projects__card__description {
        margin-top: 11px;
        font-size: 12px;
        width: 238px;
        line-height: 17px;
    }

    .projects__card.center a {
        padding: 6px;
        font-size: 10px;
    }

    .center-link {
        margin-top: 14px;
    }

    .projects__card.center .top-left {
        top: 9px;
        left: 12px;
        width: 11px;
    }
    
    .projects__card.center .top-right {
        top: 9px;
        right: 12px;
        width: 11px;
    }
    
    .projects__card.center .bottom-right {
        bottom: 9px;
        right: 12px;
        width: 11px;
    }
    
    .projects__card.center .bottom-left {
        bottom: 9px;
        left: 12px;
        width: 11px;
    }

}

@media (max-width: 1000px) {

    /* ----projects---- */

    .projects__header a {
        display: none;
    }

    .projects__card.center {
        width: 208px;
        padding: 17px 8px 23px 19px;
    }

    .projects__card.center h2 {
        font-size: 14px;
    }

    .projects__header h2 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .projects__card.center .projects__card__description {
        margin-top: 8px;
        font-size: 11px;
        width: 208px;
        line-height: 16px;
    }

    .projects__card.center a {
        padding: 5px;
        font-size: 8px;
    }

    .center-link {
        margin-top: 8px;
    }

    .projects__card.center .top-left {
        top: 7px;
        left: 10px;
        width: 8px;
    }
    
    .projects__card.center .top-right {
        top: 7px;
        right: 10px;
        width: 8px;
    }
    
    .projects__card.center .bottom-right {
        bottom: 7px;
        right: 10px;
        width: 8px;
    }
    
    .projects__card.center .bottom-left {
        bottom: 7px;
        left: 10px;
        width: 8px;
    }

    .projects {
        margin-top: 38px;
    }
    /* ---footer------ */

    .footer__icons .visa {
        display: block;
    }

    .footer__icons {
        width: 245px;
    }

    .footer__text .footer__text__main span {
        display: none;
    }

    .footer__text .footer__text__main {
        max-width: 600px;
    }
}

@media (max-width: 768px) {

    /* ----servies---- */

    .servies {
        margin-top: 27px;
        padding: 0 10px;
    }

    .servies h2 {
        margin: 0 auto;
        font-size: 22px;
    }

    .four, .five, .six {
        display: block;
    }

    .lider, .star-card, .servies__card__links .have, .servies__card__description, .servies__card__order-btn .check {
        display: none;
    }

    .servies__card {
        border: 0;
        width: 138px;
        padding: 0;
        margin: 27px 10px 4px; 
    }

    .servies__card__img img {
        width: 136px;
    }

    .servies__card__title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 5px;
    }

    .servies__card__links .delivery {
        font-size: 11px;
    } 

    .servies__card__price .servies__card__price__num {
        font-size: 18px;
    }
    
    .servies__card__price .servies__card__price__count {
        font-size: 10px;
    }

    .servies__card__order-btn .buy {
        width: 122px;
        margin-top: 0;
    }

    .servies__card__links  {
        width: 121px;
    }
    /* ---projects------- */

    .projects {
        padding: 0 10px;
    }

    .projects__cards {
        flex-wrap: wrap;
    }

    .projects__card.hidden {
        display: block;
    }

    .projects__card {
        margin: 7px 9px;
    }

    .projects__card.center .projects__card__description {
        display: none;
    }

    .projects__card.center .top-left {
        display: none;
    }
    
    .projects__card.center .top-right {
        display: none;
    }
    
    .projects__card.center .bottom-right {
        display: none;
    }
    
    .projects__card.center .bottom-left {
        display: none;
    }

    .projects__card.center {
        width: 213px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 133px;
    }

    .center-link {
        margin-top: 14px;
    }

    .projects__header h2 {
        font-size: 22px;
        margin: 0 auto;
        margin-bottom: 26px;
    }
    
}

@media (max-width: 480px) {
    /* ---servies----- */

    .five, .six {
        display: none;
    }

    .servies h2 {
        font-size: 18px;
    }

    .servies {
        padding: 0 10px;
        margin-top: 20px;
    }

    .servies__card {
        margin: 27px 6px 4px; 
    }



    /* ---projects------- */

    .projects {
        padding: 0 10px;
        margin: 0;
        margin-top: 36px;
    }

    .projects__card.center {
        display: none;
    }

    .projects__card.hidden {
        display: none;
    }

    .projects__card.first, .projects__card.hidden2 {
        display: block;
    }

    .projects__header h2 {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .projects__cards {
        padding: 0;
    }


    /* ---about---- */

    .about {
        padding-left: 20px;
        padding-right: 20px;

    }

    .about__btn button {
        display: none;
    } 

}


@media (max-width: 1000px) {

    /* ---about--- */

    .about-hidden {
        display: block;
        background: #F7F7F7;
        padding: 23px 0 18px;
        border-bottom: 1px solid #BDBDBD;
    }

    .about-hidden__container {
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: space-between;
        align-items: center;  
    }

    .about {
        display: none;
    }

    .about-hidden__info {
        display: flex;
        width: 244px;
        justify-content: space-between;
    }

    .about-hidden__info span {
        font-weight: 600;
        font-size: 14px;
        text-decoration-line: underline;
        color: #272727;
    }

    .about__bold-hidden {
        font-weight: 600;
        font-size: 14px;
        color: #272727;
    }

    .about__line-hidden {
        font-size: 14px;
        text-decoration-line: underline;
        color: #494949;
    }

    .about-hidden__phone span {
        font-size: 12px;
        color: #828282;
    }

    .about-hidden__phone {
        display: flex;
        width: 126px;
        justify-content: space-between;
        align-items: center;
    }

    .about-hidden__btn button {
        border: 1px solid #5661CB;
        box-sizing: border-box;
        border-radius: 4px;

        font-size: 14px;
        color: #494949;
        padding: 9px 26px 9px 66px;
        background: #F7F7F7;
    }

    .about-hidden__btn {
        position: relative;
    }

    .about-hidden__btn img {
        position: absolute;
        top: 9px;
        left: 26px;
    }

    .about-hidden__adress {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 55px;
    }
}

@media (max-width: 768px) {

    /* ----about---- */

    .about-hidden {
        padding-top: 14px;
    }
    /* ---footer---- */

    .footer {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .footer__icons {
        display: none;
    }

    .footer__text .footer__text__main span {
        display: block;
    }

    .footer__text .footer__text__main {
        font-size: 10px;
        max-width: 612px;
        line-height: 12px;
    }

    .footer__text span {
        font-size: 10px;
    }
    
}
