body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header {
    padding: 30px 0;
    border-bottom:  1px solid #E0E0E0;
}

.header__container {
    max-width: 1375px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    max-width: 205px;
}

.logo1000, .logo768 {
    display: none;
}

.logo {
    display: inline-block;
}

.header__title {
    display: inline-block;
    margin-left: 11px;
    color:  #1D2B5B;
    font-size: 36px;
    font-weight: 600;
}

.header__description {
    font-size: 16px;
    color:  #1D2B5B;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-weight: 600;
}

.menu__items .menu__item {
    list-style: none;
}

.menu__items .menu__item a {
    text-decoration: none;
    font-size: 18px;
    color: #494949;
}

.menu__items {
    padding: 0;
    display: flex;
    width: 560px;
    justify-content: space-between;
}
/* --------projects--------- */

.projects {
    margin-top: 83px;
    margin-bottom: 67px;
}

.projects__container {
    max-width: 1380px;
    margin: 0 auto;
}

.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__icons {
    display: flex;
    align-items: center;
    width: 85px;
    justify-content: space-between;
}

.header__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.phone__number {
    font-size: 24px;
    letter-spacing: 0.025em;
    color: #272727;
}

.phone__text {
    font-size: 16px;
    text-decoration-line: underline;
    color: #5661CB;
}

.new__block, .icon-phone {
    display: none;
}
/* --------servies--------- */

a {
    text-decoration: none;
}

.servies {
    margin-top: 55px;
}

.servies__container {
    max-width: 1380px;
    margin: 0 auto;
}

.servies__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.servies__header a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #D41A36;
}

.servies__header a img {
    margin-left: 8px;
}

.servies h2 {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    color: #272727;
}

.servies__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servies__card {
    background: #FFFFFF;
    border: 0.7px solid rgba(134, 134, 134, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    width: 245px;
    margin: 14px;
    padding: 45px 12px 13px 9px;
    position: relative;
}

.servies__card__img {
    text-align: center;
}

.servies__card__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #272727;
    margin-bottom: 8px;
}

.servies__card__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #494949;
    margin-bottom: 9px;
}

.servies__card__links {
    display: flex;
    width: 222px;
    justify-content: space-between;
    margin-bottom: 11px;
}

.servies__card__links .delivery {
    font-weight: 300;
    font-size: 12px;
    text-decoration-line: underline;
    color: #7D7D7D;
} 

.servies__card__links .have {
    font-weight: 300;
        font-size: 12px;
        text-decoration-line: underline;
        color: #219653;
} 

.servies__card__price {
    margin-bottom: 16px;
}

.servies__card__price .servies__card__price__num {
    font-weight: 600;
    font-size: 20px;
    color: #272727;
}

.servies__card__price .servies__card__price__count {
    font-size: 11px;
    color: #272727;
}

.servies__card__order-btn {
    margin-top: 11px;
}

.servies__card__order-btn .buy {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #5661CB;
    border-radius: 4px;
    padding: 9px;
    display: inline-block;
    vertical-align: top;
    width: 134px;
}

.servies__card__order-btn .check {
    border: 1px solid #5661CB;
    box-sizing: border-box;
    border-radius: 4px;
    width: 55px;
    height: 33px;
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.servies__card__order-btn .check img {
    position: absolute;
    top: 9px;
    left: 16px;
}

.lider {
    position: absolute;
    left: 0;
    top: 13px;
}

.star-card {
    position: absolute;
    right: 10px;
    top: 13px;
}

.projects__header h2 {
    margin: 0;
    font-weight: 600;
    font-size: 36px;
    color: #272727;
}

.projects__header a {
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #5661CB;
}

.projects__header a img {
    margin-left: 8px;
}

.projects__cards {
    display: flex;
    justify-content: center;
}

.projects__card {
    margin: 25px 14px;
}

.projects__card.center {
    width: 352px;
    background: rgba(86, 97, 203, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    padding: 38px 40px 63px 42px;
    position: relative;
}

.projects__card.center .top-left {
    position: absolute;
    top: 14px;
    left: 18px;
}

.projects__card.center .top-right {
    position: absolute;
    top: 14px;
    right: 18px;
}

.projects__card.center .bottom-right {
    position: absolute;
    bottom: 14px;
    right: 18px;
}

.projects__card.center .bottom-left {
    position: absolute;
    bottom: 14px;
    left: 18px;
}

.projects__card.center h2 {
    margin: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.projects__card.center .projects__card__description {
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 17px;
    width: 300px;
}

.projects__card.center a {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 155px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px;
}

.center-link {
    margin-top: 39px;
}

.projects__card.hidden, .projects__card.hidden2, .projects__card.first {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}