/* ----footer----- */

.footer {
    padding: 31px 0 26px;
    background: #F7F7F7;
}

.footer__container {
    max-width: 1345px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__text span {
    font-size: 14px;
    color: #494949;
}

.footer__text .footer__text__main {
    font-size: 14px;
    color: #494949;
    line-height: 21px;
    max-width: 870px;
}

.footer__icons {
        display: flex;
        width: 230px;
        justify-content: space-between;
} 

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}